@tailwind base;
@tailwind components;
@tailwind utilities;

/* main content */
#root {
  position: relative;
  width: 100%;
  margin-top: 75px;
  padding: 5px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: "none";

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* disables page text selection */
* {
  user-select: none;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}
